on:
  push:
  
jobs:
  build-push:
    runs-on: ubuntu-latest 
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PAT }}
      - name: Push latest stable image 
        if: ${{ github.ref_name == 'master' }}
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: "ghcr.io/webgtx/satchel:latest"
      - name: Generate branch image tag
        if: ${{ github.ref_name != 'master' }}
        run: echo "BRANCH_IMAGE_TAG=${GITHUB_REF_NAME/*\//}" >> $GITHUB_ENV 

      - name: Push branch image
        if: ${{ github.ref_name != 'master' }}
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: "ghcr.io/webgtx/satchel:${{ env.BRANCH_IMAGE_TAG }}"
